* {
    --bg: #FCFCFC;
    --bg-button: #0077FF ; 
    --bg-panel: #EBEBEB; 
    --color-text-primary: #333333;
    --color-text-button: #fbfbfb;
    

}

body {
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
}

/* torno mecânico */

.container {
    width: 80%;
    height: auto;
    background-color: var(--bg-panel);
    margin: 50px auto;

    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
}

.container .close {
    display: block;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    background-color: red;
    border: none;
    color: #ffff;
    cursor: pointer;
    border-radius: 5px;
}

.container img, strong {
    display: block;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 200px;
    text-align: center;

    margin: 0 auto;
}

h2 {
    color: var(--color-text-primary);
    text-align: center;

    color: var(--color-text-primary);
    

}

.info {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

 .container .info input {
    margin-top: 5px;
}

.result label, input {
    text-align: center;
    margin: 10px auto;  
    padding: 5px;
}


.result {
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}

.result label, input {
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;  
}


.btn-somar {
    background-color: var(--bg-button);
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    border: none;
    height: 50px;
    width: 150px;

    cursor: pointer;
    color: var(--color-text-button);
    font-weight: bold;
    font-size: 16px;

    border-radius: 5px;
    
}

.btn-limpar {
    background-color: var(--bg-panel);
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px auto;

    border: 1px solid #333333;
    height: 50px;
    width: 150px;

    cursor: pointer;
    color: var(--bg-button);
    font-weight: bold;
    font-size: 16px;

    border-radius: 5px;  
}

.btn-limpar:hover {
    background-color:var(--bg-button);
    color: #ffff;
    transition: 500ms; 
    border: none;
}

.btn-somar:hover{
    background-color: #333333;
    transition: 1000ms;
}


#lathe-button, #cutter-button {
    width: 90%;
    height: 50px;
    display: block;
    margin: 10px auto;

    border: none;
    border-radius: 6px;
    color: var(--color-text-button);

    font-weight: 700;
    font-size: 18px;

    background-color: var(--bg-button);
    cursor: pointer;
}

#lathe-button:hover{
    background-color: #333333;
    transition: 1000ms;
}

#cutter-button:hover{
    background-color: red;
    transition: 1000ms;
}
