
* {
    --bg: #FCFCFC;
    --bg-secondary: #e0dfdf;
    --color-text-primary: #333333;
    --color-inicial-model1: #c02626;
}

body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.model1 {
    width: 80%;
    height: 300px;
    margin: 10px auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--color-inicial-model1);

    padding: 15px;

}
.model1 input {
    display: block;
    margin: 0 auto;
}

.model1 label {
    color: var(--bg);
    font-size: 16px;
}